
@media only screen and (max-width:600px){
    nav a {width: 100%;
    display: block;}  
}

nav {background-color:#3F05C7}
nav a{color: #F7F01D} 
nav a:hover{background-color:lightgreen}
nav {padding:10px}
nav {margin-bottom: 30px}
nav {margin-bottom: 30px} 
title{font-size: 3mm;color:pink}
body{color: goldenrod;}
h1,h2{color: palevioletred;}
p{color: darkmagenta;}
.evenrow{background-color: purple}  
h1{font-size: 3em;}
h2{font-size: 1.5em;} 
h3{font-size: 1.5em;}
body{font-family: "Arial Black", Gadget, sans-serif;}